* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  html,
  body {
    height: 100%;
  }
  
body {
    
    font-size: 15px;
    color: black; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.padding {
    padding: 20px;
}

/* Set the spacing between the links */
.navbar ul {
  padding-right: 15px;
  margin-right: 15px;
  font-size:  15px;
} 

.bg-light {
  background-color: lavender !important;
}

/* Change the color of links on hover*/
a:hover  { 
  background:rgb(247, 164, 247);
  color:black;
  transition: .10s;
} 
  /* About Us header text */
.display-5 {
    margin: 5px;
    padding-top: 5px;
    /* background-color:purple; */
    background-color: rgb(190, 115, 219);
    color: #ffffff;
    text-align: center;
    height: 60px;
    width: 100%;
}

hr {
    border-top: 1px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

  /* Welcome Text  */
.col-md-10 {
    padding-top: 10px;
    padding-bottom: 15px;
    margin: auto;
    font-size: large;
    background-color: rgb(190, 115, 219);
}

    /* Our Team text */
.col-md-6 {
  position: relative;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #eb34a5;
    text-align: center;
    /* color: white; */
    
}

.row {
    padding-top: 15px;
    margin: auto;
    justify-content: center;
}

.images {
  width: 15rem; 
  height: auto;
  border: 2px solid black;
  border-radius: solid 4px;
  margin-bottom: 10px;
  margin-top: 15px;
}
  
.card-img-top {
  max-width: 100%;
  height: 200px;
}

.card-body {
  background-color: rgb(235, 204, 235);
}
 