<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BP input</title>
</head>
<body>
    <div id="bptool" class="checkbp">
        <div class="bp-wrapper">
            <div class="b-header">Kno your numbers</div>
            <div class="b-inner" style="height:fit-content">
    <div class="bp-page" id="bp-data" style>
        <p>What are your numbers today? Let's find out if its normal</p>
        <div>
            <label id="systolic-label" for="bp-systolic">Systolic/top number</label>
            <input name="systolic-top" type="number" class="bp-valid" id="systolicInput"
            placeholder="120" value maxlength="3" aria-labelledby="systolic-label">
            <div class="bp-over"></div>
            <label id="diastolic-label" for="bp-systolic">Diastolic/bottom number</label>
            <input type="number" class="bp-valid" id="bp-diastolicInput" placeholder="80" 
            value maxlength="3" aria-labelledby="diastolic-label">
            <a href="" id="submit-bp" class="bp-inactive">Submit</a>
        </div>
        <div class="bp-page" id="bp-results" style>
            <div class="bp-graph" style="margin-right: -10px;">
                <div class="bp-y-axis">
                    <span class="bp-y-axis-text">Systolic/top number</span>
                    <ul>
                        <li>
                            <span>200</span>
                        </li>
                        <li>
                            <span>190</span>
                        </li>
                        <li>
                            <span>180</span>
                        </li>
                        <li>
                            <span>170</span>
                        </li>
                        <li>
                            <span>160</span>
                        </li>
                        <li>
                            <span>150</span>
                        </li>
                        <li>
                            <span>140</span>
                        </li>
                        <li>
                            <span>130</span>
                        </li>
                        <li>
                            <span>120</span>
                        </li>
                        <li>
                            <span>110</span>
                        </li>
                        <li>
                            <span>100</span>
                        </li>
                        <li>
                            <span>90</span>
                        </li>
                        <li>
                            <span>80</span>
                        </li>
                        <li>
                            <span>70</span>
                        </li>
                        <li>
                            <span>60</span>
                        </li>
                        <li>
                            <span>50</span>
                        </li>
                        <li>
                            <span>40</span>
                        </li>

                    </ul>
                </div>
                <div class="bp-row">
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                </div>
                <div class="bp-row">
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                </div>
                <div class="bp-row">
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                </div>
                <div class="bp-row">
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                </div>
                <div class="bp-row">
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                </div>
                <div class="bp-row">
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                </div>
                <div class="bp-row">
                    <div class="bp-col bp pre-high"></div>
                    <div class="bp-col bp pre-high"></div>
                    <div class="bp-col bp pre-high"></div>
                    <div class="bp-col bp pre-high"></div>
                    <div class="bp-col bp pre-high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                </div>
                <div class="bp-row">
                    <div class="bp-col bp pre-high"></div>
                    <div class="bp-col bp pre-high"></div>
                    <div class="bp-col bp pre-high"></div>
                    <div class="bp-col bp pre-high"></div>
                    <div class="bp-col bp pre-high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                </div>
                <div class="bp-row">
                    <div class="bp-col bp-norm"></div>
                    <div class="bp-col bp-norm"></div>
                    <div class="bp-col bp-norm"></div>
                    <div class="bp-col bp-norm"></div>
                    <div class="bp-col bp pre-high"></div>
                    <div class="bp-col bp high"></div>
                    <div class="bp-col bp high"></div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>
    
</body>
</html>