<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BP input</title>
</head>
<body>
    <div id="bptool" class="checkbp">
        <div class="bp-wrapper">
            <div class="b-header">Kno your numbers</div>
            <div class="b-inner" style="height:fit-content">
    <div class="bp-page" id="bp-data" style>
        <p>What are your numbers today? Let's find out if its normal</p>
        <div>
            <label id="systolic-label" for="bp-systolic">Systolic/top number</label>
            <input name="systolic-top" type="number" class="bp-valid" id="systolicInput"
            placeholder="120" value maxlength="3" aria-labelledby="systolic-label">
            <div class="bp-over"></div>
            <label id="diastolic-label" for="bp-systolic">Diastolic/bottom number</label>
            <input type="number" class="bp-valid" id="bp-diastolicInput" placeholder="80" 
            value maxlength="3" aria-labelledby="diastolic-label">
            <a href="" id="submit-bp" class="bp-inactive">Submit</a>
        </div>

    </div>
    </div>
    </div>
    </div>
    
</body>
</html>