* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body {
  height:100%;
}

body {
  font-size: 15px;  
  text-align: center;
   
}

/* set the padding for the page */
.padding {
  padding: 20px;
}

.container-body {
  min-height: 100%;
  overflow: auto;  
  width: 100%; 
  margin-top: 10px;  
  margin-left: 10px;
  border-style: inset;
  background-color: plum; 
  color: rgb(17, 8, 17);
  text-align: center;
  border-bottom: 10px solid purple;
}

p {
  text-align: center;
  margin: 15px;
}

.btn-primary {
  color: blueviolet;
  background-color: blueviolet;  
}

  /* KnoPressure Text */
#display-5 {
 font-size: 30px;
 color: #ffffff;
 text-align: center; 
}

#heart {
  margin-top: 20px;
 max-width: 100%; 
 height: 260px;
 justify-content: center;
}

.login {
  text-align: center;
}

#firsttext {
  font-size: 25px;
  color:deeppink
}

#secondtext {
  font-size: 25px;
  color: black;
}

#thirdtext {
  color: #ffffff; 
}